<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style= "background-color: <%= color %>" >
    <p>
      <%= cheat_secret %>
      <%= message if cheat == nil %>
      <br>
      <%= guess_available if guess_counter > 0 %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </div>
  </body>
</html>
